[Unit]
Description=Servian Service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/app
ExecStart=/etc/app/TechTestApp serve
Restart=on-failure
#Other restart options: always, on-abort

#Install section is to use `systemctl enable` to start on bootcd. To enable 
#a user service and start it automatically, use `default.target`. For
#system level services, use `multi-user.target`
[Install]
WantedBy=multi-user.target